html, body {
    background: #333;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.container {
    width: 60%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.mainContainer {
    background-color: rgb(218, 214, 214);
    padding: 10px 0;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.btn {
    font-size: 18px;
    border: none;
    outline: none;
    color: rgb(2, 1, 5);
    cursor: pointer;
}
.addBtn {
    background-color: rgb(199, 201, 89);
}
.allBtn {
    background-color: rgb(176, 216, 175);
}
.activeBtn {
    background-color: rgb(169, 181, 238);
    margin-left: 10px;
}
.completedBtn {
    background-color: rgb(199, 201, 89);
    margin-left: 10px;
}
.AddTodo {
    display: flex;
}
.new {
    flex-grow: 1;
    outline: none;
    border: none;
    line-height: 18px;
    font-size: 18px;
    padding: 8px;
}
.completed {
    text-decoration:line-through;
    text-decoration-color: #fff;
    color: #fff !important;
}
.todoItem {
    text-align: center;
    height: 40px;
    margin-top: 10px;
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
}
.todoItem:hover {
    background-color: rgb(176, 176, 179);
}
.todoContent {
    color: rgb(102, 98, 98);
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    line-height: 40px;
}
.checkbox {
    cursor: pointer;
    margin: auto 10px auto 0;  
}
.toDoList {
    margin-top: 20px;
}
